body {
  font-family: Arial, sans-serif;
  margin: 0;
  height: 100vh;
  background: #f7f7f7;
  position: relative; /* signup-box 위치 기준 */
}

.menu {
    width: 100px;
    height: 100%;
    margin: 0;
    border-right: 1px solid black;
    background-color: #ffff;
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;        
    justify-content: space-between; 
    padding: 50px 0;
    box-sizing: border-box;
    align-items: center;
}

.top {
    display: flex;
    flex-direction: column;
}

.top div {
    margin-bottom: 40px;
}

.bottom {
    display: flex;
    flex-direction: column;
}

.bottom div {
    margin-bottom: 40px;
}

.bottom > div:last-child {
    margin-bottom: 0;
}

/* 회원가입 박스 */
.main {
  margin-left: 100px; 
  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 100%;            
}

.signup-box {
  width: 500px;
  background-color: #fff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 12px gray;
  text-align: center;
}

.signup-box img{
    width: 250px;
    height: 250px;
}

/* 입력 필드 */
.form-group {
  margin-bottom: 15px;
}

.signup-box input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
  box-sizing: border-box;
}

.signup-box input:focus {
  border-color: #f8c74d;
  outline: none;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 4px;
  display: none;
}

/* 버튼 */
.signupBtn {
  width: 100%;
  padding: 12px;
  background: #f8c74d;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease;
}

.signupBtn:hover {
  background: #fba62c;
}
